.application-card {
    margin: 0em 0em 4em 0em;
    .application-heaer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom:0.75em;

        .header-title {
            display: flex;
            flex-direction: row;

            h4, .chip {
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 0.75em;
            }
        }
        .header-actions {
            .MuiFormControl-root {
                width:150px;
                .MuiInputBase-root {
                    font-size: 95%;
                }
                .MuiOutlinedInput-input {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.app-card {
    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:1em;
        .header-left {
            display: flex;
            flex-direction: column;
            padding-top:0.75em;
        }
        .header-right {
            text-align: center;
            .paper {
                background-color: #397D74;
                color: white;
                height:60px;
                width:75px;
                text-align: center;
                .days-left-data {
                    font-size:42px;
                    margin-top: 12px;
                }
                .days-left-label {
                    text-align: center;
                }
            }
        }
    }
    .card-body {
        .button-container {
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.5em;
            margin-bottom: 2em;
            .MuiButtonBase-root {
                background-color: #397D74;
                color: white;
            }
        }

        .app-status-container {
            display: inline-flex;
            flex-direction: row;
            .MuiStepper-root {
                padding-top:0em;
                .MuiStep-root {
                    z-index: 1;
                }
            }
            .progress-bar {
                z-index: 0;
                margin-top: 1em;
                display:flex;
                flex-direction: column;
                .progress-stepper {
                    float: left;
                    width: 4px;
                    margin-left: 2.2em;
                    height: calc(95% * (0.166) * 3 + 1em);
                    background-color: #397D74;
                }
                .progress-stepper-light {
                    opacity: 30%;
                    height: 45%;
                }
                .progress-stepper-dark {
                    opacity: 100%;
                }
            }
            .stepper-data {
                margin-left: -40px;
            }
            .step-label {
                color: #397D74;
                margin-left:1.5em;
                margin-bottom: 0.5em;
                margin-top: 1.0em;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-weight:500;
            }
            .step-content {
                margin-left: 1.5em;
                font-weight:400;
                color: black;
            }
            .step-divider {
                margin-left: 1.5em;
                margin-top: 1.0em;
            }
        }
    }
}
