.employee-section {
    margin: 0em 2em 0em 0em;
    .MuiTableCell-head {
        background-color: #397D74;
        color: white;
        text-transform: uppercase;
    }
    .table {
        .MuiFormControl-root {
            width:90%;
        }

        .MuiInputBase-root {
            font-size: 95%;
            // width: 200px;
            .MuiOutlinedInput-input {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        .MuiTableCell-root {
            padding:12px 16px;
        }
    }
    .table-data-control {
        display: flex;
        justify-content: space-between;
        margin-bottom :1.2em;
        .search {
            width: 60%;
        }
        .MuiFormLabel-root, .MuiInputLabel-root, .MuiInputLabel-formControl, .MuiInputLabel-animated, .MuiInputLabel-outlined {
            margin-left:35px;
        }
        .MuiInputLabel-shrink, .Mui-Focused {
            margin-left:0px !important;
        }
        .MuiOutlinedInput-input {
            padding: 18.5px 10px;
        }

        .MuiFormControl-root {
            width:100%;
        }
        .MuiInputBase-root,.MuiOutlinedInput-root, .MuiInputBase-formControl, .MuiInputBase-adornedEnd ,.MuiOutlinedInput-adornedEnd {
            display: inline-flex;
            flex-direction: row-reverse;
        }
        .MuiInputAdornment-root, .MuiInputAdornment-positionStart {
            margin-left: 12px;
            margin-top: 5px;
        }
        .MuiInputBase-root {
            font-size: 95%;
        }
    }
    .custom-table-pagination {
        width:99%;
        font-family: 'Roboto';
        font-size: 0.9em;
        margin-top: 1.25em;
        margin-left: 0.5em;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        .showing-entries {
            display:flex;
            flex-direction: row;
            height:1.5em;
            .MuiDivider-vertical {
                margin-left:0.5em;
                margin-right:0.5em;
                width:1px;
                background-color: rgba(0,0,0,0.8);
            }
            .MuiFormControl-root {
                margin-left: 0.5em;
                margin-right: 0.5em;
                .MuiInputBase-root {
                    margin-top:-8px;
                    height:40px;
                    width:70px;
                }
            }
        }
        .page-selection {
            display:flex;
            flex-direction: row;
            margin-top: -5px;
            .ul {
                text-decoration: underline;
                padding-right:2px !important;
            }
            .MuiButton-root {
                min-width: 35px !important;
            }
            .MuiButtonBase-root {
                font-size: 0.85em;
                font-weight:400;
            }
            .MuiButton-text {
                padding: 6px 3px !important;
            }
            .MuiButton-outlined {
                padding: 5px 3px !important;
            }
        }
    }
}
