@import './layout.css';
@import './contact-card';
@import './application-card';
@import './employee-dt';
@import './header';

.main {
    margin: 0 auto;
    max-width: 95%;
    padding: 0px 1.0875rem 1.45rem;
    padding-top: 0px;
    display:flex;
    flex-wrap:wrap;
    font-size: 90%;
    font-family:'Roboto';
}

@media screen and (max-width: 700px) {
    .main {
        flex-direction: column;
    }
}

.col-1 {
    flex: 60%;
}

.col-2 {
    flex: 30%
}
